[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "REEMPLAZAR_POR_UN_SECRETO_ALEATORIO_LARGO"

[auth.microsoft]
client_id = "REEMPLAZAR_POR_CLIENT_ID"
client_secret = "REEMPLAZAR_POR_CLIENT_SECRET"
server_metadata_url = "https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration"
